/* styles.css */

.sidebar-tool-icon {
  color: white;  /* Set the color of the icons to white */
}

.sidebar-logo img {
  max-width: 500px;  /* Adjust the maximum width of the logo */
  height: auto;  /* Maintain the aspect ratio */
}


